    @charset "utf-8";
    header {
        height: 200px;
        background: #bdbdbd;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    
    a {
        color: teal;
        text-decoration: none;
    }
    
    #contenu {
        width: 100%;
        position: relative;
        top: 200px;
        background: #ebebeb;
        height: 1500px;
    }
    
    #container {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    #header-contenu {
        width: 1000px;
        margin: 0 auto;
        padding: 60px 0 0 0;
        overflow: hidden;
    }
    
    #header-contenu h1 {
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 10px;
    }
    
    #header-contenu nav li {
        float: left;
        font-size: 20px;
        margin: 0 0 0 115px;
        list-style: none;
    }