    @charset "utf-8";
    header {
        height: 100px;
        background: #bdbdbd;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    
    a {
        color: teal;
        text-decoration: none;
    }
    
    #contenu {
        width: 100%;
        position: relative;
        top: 150px;
        background: #ebebeb;
        height: 1500px;
    }
    
    #container {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    #header-contenu {
        width: 1000px;
        margin: 0 auto;
        padding: 35px 0 0 0;
        overflow: hidden;
    }